*.h5
*.whl
*.csv
*.pb
*.zip
Anomaly_Detection/HAI_Anomal_Detection/hai-21.03/test/.DS_Store
Anomaly_Detection/HAI_Anomal_Detection/hai-21.03/train/.DS_Store
GDSC/Toy_project/ML-X-Flutter-toy-project/
deepfake/data